<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sebastienbalard.skullscoring">

    <compatible-screens>
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="420"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />
        <screen
            android:screenDensity="560"
            android:screenSize="small" />
        <screen
            android:screenDensity="640"
            android:screenSize="small" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="420"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="560"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="normal" />
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="420"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="560"
            android:screenSize="large" />
        <screen
            android:screenDensity="640"
            android:screenSize="large" />
    </compatible-screens>

    <application
        android:name=".SKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/SKAppTheme.NoActionBar"
        tools:replace="android:theme">

        <activity
            android:name=".ui.onboarding.SKSplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.SBDataPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.onboarding.SKOnboardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.home.SKHomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.game.SKGameActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.game.SKPlayerSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.game.SKTurnActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.settings.SKSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            android:label="@string/settings"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.settings.SKAboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SKAppTheme.NoActionBar"
            android:label="@string/about"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>